version: '3.3'

# networks:
#   shared-network:
#     driver: bridge

services:
  # backend:
  #   build:
  #     context: ./
  #     dockerfile: ./Dockerfile
  #   environment:
  #     MONGO_DB_HOST: ${DB_HOST}
  #     MONGO_DB_PORT: ${DB_PORT}
  #     REDIS_HOST: ${REDIS_HOST}
  #     REDIS_PORT: ${REDIS_PORT}
  #     NODE_ENV: development
  #   command: bash -c "node dist/main.js"
  #   env_file:
  #       - .env
  #   networks:
  #     - shared-network
  #   ports:
  #     - ${PORT}:${PORT} # dockerHostPort:dockerContainerPort
  #   depends_on:
  #     - mongo_db
  #     - redis_cache

  postgres:
    image: postgres:alpine
    # networks:
    #   - shared-network
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./pgdata:/var/lib/postgresql/data

  # mongodb:
  #   image: mongo:latest
  #   # networks:
  #   #   - shared-network
  #   volumes:
  #     - ./.mongo:/data/db
  #   env_file:
  #     - .env
  #   ports:
  #     - ${MONGO_PORT}:${MONGO_PORT}
  #   environment:
  #     MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
  #     MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
  #   restart: always

  cache_redis:
    container_name: redis_cache
    image: 'redis:alpine'
    # networks:
    #   - shared-network
    env_file:
      - .env
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}
